name: C CI

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest]
    steps:
    - name: clone creal
      uses: actions/checkout@v4
      with:
        repository: oonamo/creal
        path: ./creal
    - name: install creal
      run: |
        cd ./creal/
        ls      #debug
        pwd     #debug
        make build
        ./install.bat
        Import-Module "$env:ChocolateyInstall/helpers/chocolateyInstaller.psm1"
        # Append to Github Path
        echo "${HOME}/AppData/Roaming/creal/" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
        refreshenv
        cd ../
    - uses: actions/checkout@v4
    - name: run tests
      run: |
        make test_local
        if ($LASTEXITCODE -eq 0) {
          Write-Output "Failed tests"
          exit 1
        }
  windows_install:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - name: make ms_home
      run: make build_local
    - name: run install script
      run: ./install.bat
    - name: check installation
      run: '& "$Env:APPDATA\ms_home\ms_home.exe" -e ./tests/runner/runner.lua'
    - name: refresh path and test install
      run: |
        Import-Module "$env:ChocolateyInstall/helpers/chocolateyInstaller.psm1"
        refreshenv
        ms_home -e ./tests/runner/runner.lua
